appnope
asttokens
certifi
click
comm
contourpy
cycler
debugpy
decorator
elastic-transport
elasticsearch
exceptiongroup
executing
fonttools
gensim
ipykernel
ipython
jedi
joblib
jupyter_client
jupyter_core
kiwisolver
matplotlib
matplotlib-inline
nest-asyncio
nltk
numpy
packaging
pandas
parso
pexpect
pillow
platformdirs
prompt_toolkit
psutil
ptyprocess
pure_eval
Pygments
pyparsing
python-dateutil
pytz
pyzmq
regex
scipy
seaborn
six
smart-open
stack-data
textblob
tornado
tqdm
traitlets
typing_extensions
tzdata
urllib3
wcwidth
wrapt
